%h1 New List
.row
  .col-md-4
    = form_for @list do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control', placeholder: "Enter list title"
      .form-group
        = f.submit "Save", class: 'btn btn-success'
