%h4 Add a to-do list item:
= form_for [@item] do |f|
  .form-group
    = f.text_area :name, rows: 1, class: 'form-control', placeholder: "Enter a to-do item"
    = f.hidden_field :list_id, value: @list.id
    = f.submit "Save", class: 'btn btn-success'
